/AttendanceControl/AttendanceControl/bin
/AttendanceControl/AttendanceControl/obj
/AttendanceControl/.vs
/AttendanseControl/AttendanseControl/obj
/AttendanseControl/AttendanseControl/bin
/AttendanseControl/AttendanseControl/Data/DAL/obj
/AttendanseControl/AttendanseControl/Data/DAL/bin
/AttendanseControl/AttendanseControl/Data/DAL.Tests/bin
/AttendanseControl/AttendanseControl/Data/DAL.Tests/obj
/AttendanseControl/BLL/obj
/AttendanseControl/BLL/bin
